<h1>Welcome to RescueBoard</h1>
<h2>Endpoints</h2>
<p><a href="/rescueboard/pulse">/rescueboard/pulse</a> gives you an HTML widget of yesterdays productivity.
<p><a href="/appstore/downloads">/appstore/downloads</a> gives you a chart widget of download numbers.
<p><a href="/appstore/sales">/appstore/sales</a> gives you a chart widget of sales revenue.

<p>For more information go to <a href="//github.com/dombarnes/rescueboard">Rescueboard on GitHub</a>
