<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="Cache-control" content="no-cache" />
  <meta application-name="<%= settings.title %>" data-allows-resizing="NO" data-default-size="4,4" data-allows-scrolling="NO" />
</head>
<body>
  <div id="main">
    <div id="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
