<style type="text/css">
        @font-face { font-family: "Roadgeek2005SeriesD"; src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf"); }
        body, * { }
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
        fieldset, img { border: 0; }
        html, body, #main { overflow: hidden; }
        body { color: white; font-family: 'StatusBoardFont', sans-serif; font-size: 24px; line-height: 28px; }
        body, html, #main { background: transparent !important; }
        #main { width: 256px; height: 256px; padding-top: 12px;}
        #container { width: 256px; height: 256px; text-align: center; }
        #container * { font-weight: normal; }
        h1 { font-size: 60px; line-height: 65px; margin-top: 5px; color: white;text-shadow: 0px -2px 0px black;text-transform: uppercase; }
        h2 { width: 180px; margin: 0px auto; margin-top: 3px; font-size: 20px; line-height: 22px; color: #7e7e7e; text-transform: uppercase; }
        h2 span { font-size: 24px; color: white; }
        p { font-size: 16px; margin: 0; padding: 0; font-family: 'StatusBoardFontLight';}
</style>
<h2><span>Productivity Pulse</span></h2>
<h1><%= pulse %>%</h1>
<h2><span>Total Time</span></h2>
<h1><%= hours %></h1>
<p><%= date %></p>
